.vscode/settings.json
Databases/__pycache__/FakerImpl.cpython-37.pyc
Databases/__pycache__/Person.cpython-37.pyc
Exercises/__pycache__/string_split.cpython-37.pyc
ITA/__pycache__/SuperClass.cpython-37.pyc
